.partners__navigation {
    .d-flex {
        padding: 1rem 0;
        border-bottom: 1px solid #d9d9d9;
    }

    ul {
        list-style: none;
        padding-left: 0;
        display: flex;

        a {
            color: #5b5b5b;
            white-space: nowrap;

            &:hover {
                color: #000;
            }
        }

        li+li {
            margin-left: 2rem;
        }
    }

    .parners__navigation--btn {
        margin-left: auto;
    }

    @media(max-width: 768px) {
        margin-top: 2rem;

        .d-flex {
            flex-wrap: wrap;
        }

        ul {
            width: 100%;
            order: 2;
            overflow-x: auto;
        }

        .parners__navigation--btn {
            margin: 0 auto;
            order: 1;
            margin-bottom: 2rem;
        }
    }
}

.partners__section-1 {
    padding: 3rem 0 8rem;

    .swiper-slide {
        .img {
            display: block;
            position: relative;

            &:hover {
                box-shadow: 0 25px 30px -30px rgba(black, .4);

                &:before {
                    content: '';
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: var(--main);
                    z-index: 5;
                }
            }
        }

        .link a {
            font-size: 1.4rem;
            color: var(--main);

            i {
                font-size: 1.2rem;
            }
        }
    }
}

.partners__section-3 {
    background: #f5f5f5;
    margin-top: 5rem;
    padding: 5rem 0;

    .swiper-slide {
        padding: 3rem;
        background: #fff;
        height: auto;
    }

    .slide {
        position: relative;
    }

    .swiper-pagination-custom {
        margin-top: 2rem;
    }

    .swiper-navigation {
        @media(max-width: 768px) {
            display: none;
        }

        &>div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 1px 1px rgba(black, .1);
            background: #fff;
            line-height: 40px;
            text-align: center;
            font-size: 1.2rem;
            transition: .4s all;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 55;
            outline: none;

            &.swiper-next {
                right: -20px;
            }

            &.swiper-prev {
                left: -20px;
            }

            &.swiper-button-disabled {
                opacity: 0;
                pointer-events: none;
            }

            &:hover {
                color: var(--main)
            }
        }
    }
}

.partner__section-training {
    background: #8a919e;
    padding: 8rem 0;
    color: #fff;

    .container {
        position: relative;
    }

    a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        color: #fff;

        i {
            font-size: 1.2rem;
        }
    }
}

.partners__section-contact {
    .contact-form-message {
        margin: 0 auto;
    }
}