.productCategories {
    .productCategories__slider {
        position: relative;
    }

    .category__img {
        @include img-scale(1);

        img {
            object-fit: contain;
            width: auto;
            height: auto;
        }
    }

    .category__caption {
        h4 {
            transition: all 0.3s ease;
            border-bottom: 1px solid transparent;
            display: inline-block;
        }
    }

    .category {
        margin-bottom: 30px;
        padding: 10px;

        &:hover {
            .category__caption {
                h4 {
                    color: map-get($color, main);
                    border-bottom: 1px solid map-get($color, main);
                }
            }
        }
    }

    @media (min-width: 1025px) {}
}

.productCategories--3 {
    .productCategory__caption {
        padding: 2.4rem 0;

        &:not(:last-child) {
            border-bottom: 1px solid darken(map-get($color, white), 8%);

            @media (min-width: 768px) {
                border-bottom: 0;
            }
        }
    }

    .productCategory {
        +.productCategory {
            margin-top: 35px;
        }

        @media (min-width: 768px) {
            +.productCategory {
                margin-top: 50px;
            }

            &:nth-child(odd) {
                .productCategory__img {
                    padding-right: 10px;
                }

                .productCategory__caption {
                    padding-left: 10px;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                .productCategory__img {
                    padding-left: 10px;
                }

                .productCategory__caption {
                    padding-right: 10px;
                }
            }
        }

        @media (min-width: 1200px) {
            +.productCategory {
                margin-top: 65px;
            }

            &:nth-child(odd) {
                .productCategory__img {
                    padding-right: 20px;
                }

                .productCategory__caption {
                    padding-left: 20px;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                .productCategory__img {
                    padding-left: 20px;
                }

                .productCategory__caption {
                    padding-right: 20px;
                }
            }
        }
    }
}

.productCategories--4 {
    .card__link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 2.5rem;
        border-radius: 100px;

        @media (max-width: 767.98px) {
            padding: 15px 0;
        }
    }

    .card__img {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .card__caption {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .card {
        &:hover {

            // .card__link {
            // 	background-color: map-get($color, main);
            // }
            .card__caption {
                .cardTitle {
                    text-decoration: underline;
                    color: map-get($color, main);

                    span {
                        color: map-get($color, main);
                    }
                }
            }
        }

        // .card__img {
        // 	svg {
        // 		path {
        // 			fill: map-get($color, white);
        // 		}
        // 		circle {
        // 			stroke: map-get($color, white);
        // 		}
        // 	}
        // }
        // }
    }

    @media (max-width: 767.98px) {
        .col-md-6 {
            +.col-md-6 {
                border-top: 1px solid darken(map-get($color, white), 8%);
            }
        }
    }
}

.indexSection {
    .slide {
        position: relative;
    }

    .gallery-thumbs {
        margin-top: 25px;

        .swiper-wrapper {
            display: flex;
            justify-content: center;

            .swiper-slide {
                width: 88px !important;
            }
        }
    }

    .box-img {
        width: 450px;
        height: 450px;
        margin: auto;
    }
    .indexSectionZoom {
        background-position: 50% 50%;
        position: relative;
        overflow: hidden;
        cursor: zoom-in;
        width: 450px;

        img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
            background: #fff;
        }

        &:hover {
            img {
                opacity: 0;
            }
        }
    }

    .closePopup {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 55;
        outline: none;
    }

    .banner__img--showSlider {
        &:hover {
            cursor: pointer;
        }
    }

    .swiper-navigation {
        @media(max-width: 768px) {
            display: none;
        }

        &>div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 1px 1px rgba(black, .1);
            background: #fff;
            line-height: 40px;
            text-align: center;
            font-size: 1.2rem;
            transition: .4s all;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 55;
            outline: none;

            &.swiper-next {
                right: 0;
            }

            &.swiper-prev {
                left: 0;
            }

            &.swiper-button-disabled {
                opacity: 0;
                pointer-events: none;
            }

            &:hover {
                color: var(--main)
            }
        }
    }
}