.indexSection.page-banner-1
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.indexBanner
						.banner__img
							img.object-cover.lazyload.blur-up(data-src='/images/banners/1.png' alt='')
						.banner__caption.fullsize
							.banner__content.clearfix
								h2.fw-300 Intelbras
									br
									| Punctuates
								.mt-1
									span.fw-300 has a new face
								.mt-2
									a.btn.btn--main(href='https://youtu.be/vXgzLqlGZuY')
										span.btn__text See what's changed.
										span.btn__icon--right.fal.fa-chevron-right
				.swiper-slide
					.indexBanner
						.banner__img
							img.object-cover.lazyload.blur-up(data-src='/images/banners/1.png' alt='')
						.banner__caption.fullsize
							.banner__content.clearfix
								h2.fw-300 Intelbras
									br
									| Punctuates
								.mt-1
									span.fw-300 has a new face
								.mt-2
									a.btn.btn--main(href='https://youtu.be/vXgzLqlGZuY')
										span.btn__text See what's changed.
										span.btn__icon--right.fal.fa-chevron-right
		.swiper-pagination-custom
.partners__navigation 
	.container 
		.d-flex.align-items-center
			ul 
				li 
					a(href="#") Types of partnership 
				li 
					a(href="#") Channel program
				li 
					a(href="#") Trainings
				li 
					a(href="#") Contact 
			.parners__navigation--btn 
				a(href="#").btn--main.btn Access the Relationship Portal
.partners__section-1 
	.container
		.swiper-container 
			.swiper-wrapper 
				.swiper-slide 
					a.img.mb-2(href="#")
						img.lazyload.fullsize.blur-up(data-src="./images/partner_img1.jpeg", alt="")
					h3.fw-300.mb-3 Distribuidor 
					p.desc.mb-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eius quae nulla eos, tempora ea atque ad inventore praesentium delectus maiores sit repellendus distinctio dolorem nemo ipsa facilis ipsam assumenda.
					p.link 
						a(href="#") Click here and register 
							i.fal.fa-chevron-right.ml-1
				.swiper-slide 
					a.img.mb-2(href="#")
						img.lazyload.fullsize.blur-up(data-src="./images/partner_img1.jpeg", alt="")
					h3.fw-300.mb-3 Distribuidor 
					p.desc.mb-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eius quae nulla eos, tempora ea atque ad inventore praesentium delectus maiores sit repellendus distinctio dolorem nemo ipsa facilis ipsam assumenda.
					p.link 
						a(href="#") Click here and register 
							i.fal.fa-chevron-right.ml-1
				.swiper-slide 
					a.img.mb-2(href="#")
						img.lazyload.fullsize.blur-up(data-src="./images/partner_img1.jpeg", alt="")
					h3.fw-300.mb-3 Distribuidor 
					p.desc.mb-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eius quae nulla eos, tempora ea atque ad inventore praesentium delectus maiores sit repellendus distinctio dolorem nemo ipsa facilis ipsam assumenda.
					p.link 
						a(href="#") Click here and register 
							i.fal.fa-chevron-right.ml-1
.partners__section-2 
	.container 
		.row.align-items-center
			.col-md-6 
				h2.fs-22.mb-3.fw-200 Meet the Intelbras Channel Program (PCI)
				.txt 
					p.mb-2 By being part of the Program, you gain exclusive benefits and have access to a management tool that will help you to conduct your business, your technical and marketing team.
					p.mb-2 By being part of the Program, you gain exclusive benefits and have access to a management tool that will help you to conduct your business, your technical and marketing team.
			.col-md-6 
				.img 
					img(src="./images/partner_img2.png", alt="")
.partners__section-3 
	.container 
		h2.text-center.fs-26.fw-200.mb-3 Benefits for those registered with the PCI
		.slide
			.swiper-container 
				.swiper-wrapper 
					.swiper-slide 
						h3.fw-500.mb-2.fs-16 Project Registration to take advantage of opportunities
						p.fs-14 Agora a Intelbras está ainda mais próxima e tudo que você precisa está na palma da mão! Com o nosso aplicativo Sou Parceiro Intelbras você fica por dentro de todas as novidades e tem acesso ao catálogo de produtos, informações sobre lançamentos, resgata seus pontos no Intelbras Pontua e muito mais! 
					.swiper-slide 
						h3.fw-500.mb-2.fs-16 Project Registration to take advantage of opportunities
						p.fs-14 Now Intelbras is even closer and everything you need is in the palm of your hand! Now Intelbras is even closer and everything you need is in the palm of your hand! 
					.swiper-slide 
						h3.fw-500.mb-2.fs-16 Project Registration to take advantage of opportunities
						p.fs-14 Now Intelbras is even closer and everything you need is in the palm of your hand! Now Intelbras is even closer and everything you need is in the palm of your hand! 
					.swiper-slide 
						h3.fw-500.mb-2.fs-16 Project Registration to take advantage of opportunities
						p.fs-14 Now Intelbras is even closer and everything you need is in the palm of your hand! Now Intelbras is even closer and everything you need is in the palm of your hand! 
					.swiper-slide 
						h3.fw-500.mb-2 Project Registration to take advantage of opportunities
						p Now Intelbras is even closer and everything you need is in the palm of your hand! Now Intelbras is even closer and everything you need is in the palm of your hand! 
			.swiper-navigation 
				.swiper-prev 
					i.fal.fa-chevron-left 
				.swiper-next 
					i.fal.fa-chevron-right
		.swiper-pagination-custom
.partner__section-training 
	.container 
		h2.fz-22.fw-200.text-center Upcoming trainings
		a(href="#").link See all 
			i.fal.fa-chevron-right.ml-1
.contact-section.pd-section.partners__section-contact
	.container
		.row.justify-content-center
			.col-md-8
				.tab-content
					h2.fs-32.fw-300.mb-3.text-center Send your message
					form.contact-form-message.js-form
						.row
							.form__group.col-sm-12.mb-3
								input.form__control(placeholder="Fullname")
							.form__group.col-sm-12.mb-3
								input.form__control(placeholder="Type your email")
							.form__group.col-sm-6.mb-3
								input.form__control(placeholder="CPF/CNPJ")
							.form__group.col-sm-6.mb-3
								select.form__control
									option Sector
									option Value 1
									option Value 1
									option Value 1
									option Value 1
									option Value 1
							.form__group.col-sm-6.mb-3
								input.form__control(placeholder="CEP/Zip code")
							.form__group.col-sm-6.mb-3
								select.form__control
									option Parents
									option Value 1
									option Value 1
									option Value 1
									option Value 1
									option Value 1
							.form__group.col-sm-8.mb-3
								input.form__control(placeholder="City")
							.form__group.col-sm-4.mb-3
								select.form__control
									option State
									option Value 1
									option Value 1
									option Value 1
									option Value 1
									option Value 1
							.form__group.col-sm-12.mb-4
								input.form__control(placeholder="Subject matter")
							.form__group.col-sm-12.mb-3
								label.form__label Message
								textarea.form__control(placeholder="Subject matter")
							.form__group.col-sm-12.mb-3
								label.checkbox--custom
									input(type="checkbox", name="TermAgree")
									span I agree to send my data to Intelbras to return the contact message.
							.form__group.col-sm-12
								button.btn.btn--main.js-btn-submit Submit
									span.btn__icon--right.fal.fa-chevron-right