.blog-about-section.pd-section
	.container
		.row
			.col-lg-8.box-post
				h1 7 tecnologias para usar em projetos de arquitetura sustentável
				.informacoes-post
					.informacoes
						h2 Intelbras
						span 23 de Fevereiro 2021 às 08:02
					a.tag.tag-comunicacao(href='https://blog.intelbras.com.br/categorias/comunicacao/' title='Comunicação') Comunicação
					a.tag.tag-energia(href='https://blog.intelbras.com.br/categorias/energia/' title='Energia') Energia
					a.tag.tag-energia-solar(href='https://blog.intelbras.com.br/categorias/energia/energia-solar/' title='Energia Solar') Energia Solar
				.at-share-btn-elements
					a.at-icon-wrapper.at-share-btn.at-svc-facebook(role='button' tabindex='0' style='background-color: rgb(59, 89, 152); border-radius: 0%;')
						span.at-icon-wrapper(style='line-height: 20px; height: 20px; width: 20px;')
							svg.at-icon.at-icon-facebook(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 32 32' version='1.1' role='img' aria-labelledby='at-svg-facebook-1' style='width: 20px; height: 20px;')
								title#at-svg-facebook-1 Facebook
								g
									path(d='M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z' fill-rule='evenodd')
					a.at-icon-wrapper.at-share-btn.at-svc-twitter(role='button' tabindex='0' style='background-color: rgb(29, 161, 242); border-radius: 0%;')
						span.at-icon-wrapper(style='line-height: 20px; height: 20px; width: 20px;')
							svg.at-icon.at-icon-twitter(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 32 32' version='1.1' role='img' aria-labelledby='at-svg-twitter-2' style='width: 20px; height: 20px;')
								title#at-svg-twitter-2 Twitter
								g
									path(d='M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336' fill-rule='evenodd')
				.text
					p
						img.size-full.wp-image-5417.img-responsive.aligncenter.img-responsive.img-responsive(src='https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel.jpg' alt='arquitetura sustentável ' srcset='https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel.jpg 1200w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel-300x157.jpg 300w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel-768x402.jpg 768w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel-1024x536.jpg 1024w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel-600x314.jpg 600w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/postdez129_arquitetura_sustentavel-328x172.jpg 328w' sizes='(max-width: 1200px) 100vw, 1200px')
					p
						span(style='font-weight: 400;')
							| Telhados verdes, revestimentos de material natural e ambientes projetados para favorecer a iluminação natural são apenas algumas das estratégias usadas na arquitetura sustentável. Seu objetivo principal é minimizar os recursos utilizados na construção, reforma e uso do imóvel, além de reduzir os impactos causados ao meio ambiente e à saúde das pessoas. E será que a tecnologia também pode contribuir nessa tarefa?
					p
						span(style='font-weight: 400;')
							| Neste artigo, conheça 7 tecnologias para usar no seu projeto e as principais tendências da arquitetura sustentável.
					p
						i
							span(style='font-weight: 400;') Leia também: 
						a(href='https://blog.intelbras.com.br/por-que-investir-em-casa-inteligente/' target='_blank' rel='noopener')
							i
								span(style='font-weight: 400;') Por que investir em casa inteligente
					h2
						span(style='font-weight: 400;') Arquitetura sustentável: quais são as tendências?
					p
						span(style='font-weight: 400;')
							| Em uma sociedade cada vez mais ciente dos impactos causados ao meio ambiente, adotar novos hábitos e soluções para minimizá-los se tornou corriqueiro. A arquitetura sustentável é resultado desse movimento e continua crescendo. Conheça, a seguir, as suas principais tendências.
					h3
						span(style='font-weight: 400;') Ambientes mais flexíveis
					p
						span(style='font-weight: 400;') Com o aumento do 
						i
							span(style='font-weight: 400;') home office
						span(style='font-weight: 400;')
							| , a tendência são os ambientes flexíveis, que podem ser adaptados a diferentes atividades. O mesmo pode ser dito sobre o uso – e aluguel – de móveis e objetos multifuncionais.
					h3
						span(style='font-weight: 400;') Preferência pela iluminação e conforto térmico naturais
					p
						span(style='font-weight: 400;')
							| Para reduzir o uso de ar-condicionado, uma boa pedida é apostar em ventiladores e iluminação, as aberturas voltadas para a direção sul e leste devem ser privilegiadas. Assim, a iluminação natural é recebida sem a incidência de raios solares e a entrada de calor é controlada pelas paredes opostas. A ventilação cruzada dos ambientes proporciona conforto térmico.
					h3
						span(style='font-weight: 400;') Busca pelo bem-estar
					p
						span(style='font-weight: 400;')
							| O conforto térmico propicia bem-estar, mas os novos projetos de arquitetura sustentável preveem mais, como:
					ul
						li(style='font-weight: 400;' aria-level='1')
							span(style='font-weight: 400;') Higienização diferenciada dos ambientes.
						li(style='font-weight: 400;' aria-level='1')
							span(style='font-weight: 400;') Uso de produtos sustentáveis, como 
							a(href='https://sustentarqui.com.br/gunrid-cortina-promete-reduzir-a-poluicao-do-ar-dentro-de-casa/' target='_blank' rel='noopener')
								span(style='font-weight: 400;') cortinas anti poluição
							span(style='font-weight: 400;') .
						li(style='font-weight: 400;' aria-level='1')
							span(style='font-weight: 400;') Banheiras, spas e ofurôs.
						li(style='font-weight: 400;' aria-level='1')
							span(style='font-weight: 400;') Espaços espirituais.
						li(style='font-weight: 400;' aria-level='1')
							span(style='font-weight: 400;') Ambiente para exercícios físicos e meditação.
					h3
						span(style='font-weight: 400;') Biofilia em alta
					p
						span(style='font-weight: 400;')
							| Plantas, composteiras, hortas e uso de material de demolição estão em voga, assim como os materiais naturais e soluções sustentáveis, como o
						a(href='https://casacor.abril.com.br/sustentabilidade/telhado-verde-o-que-e/' target='_blank' rel='noopener')
							span(style='font-weight: 400;') telhado verde
						span(style='font-weight: 400;')  e 
						a(href='http://jonasedvard.dk/work/myx/' target='_blank' rel='noopener')
							span(style='font-weight: 400;') luminárias de fibra vegetal e micélio de cogumelo
						span(style='font-weight: 400;') .
					h3
						span(style='font-weight: 400;') Uso de tecnologias
					p
						span(style='font-weight: 400;')
							| As tecnologias proporcionam praticidade, conforto, segurança e otimizam o uso da energia elétrica e água. Os moradores podem ter controle sobre os dispositivos de suas casas e evitar o desperdício. Mas quais tecnologias são essas?
					p
						i
							span(style='font-weight: 400;') Leia também: 
						a(href='https://blog.intelbras.com.br/como-aliar-design-e-tecnologia-em-projetos-residenciais/' target='_blank' rel='noopener')
							i
								span(style='font-weight: 400;') Como aliar design e tecnologia em projetos residenciais
					h2
						span(style='font-weight: 400;') 7 tecnologias para tornar os projetos arquitetônicos mais sustentáveis
					h3
						span(style='font-weight: 400;') 1. Interruptores inteligentes
					p
						img.size-full.wp-image-5418.img-responsive.aligncenter.img-responsive.img-responsive(src='https://blog.intelbras.com.br/wp-content/uploads/2021/02/1.png' alt='interruptor inteligente' srcset='https://blog.intelbras.com.br/wp-content/uploads/2021/02/1.png 1200w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/1-300x157.png 300w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/1-768x402.png 768w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/1-1024x536.png 1024w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/1-600x314.png 600w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/1-328x172.png 328w' sizes='(max-width: 1200px) 100vw, 1200px')
					p
						span(style='font-weight: 400;')
							| Estes interruptores são acionados por meio de aplicativo ou por comandos de voz. Você pode criar rotinas de iluminação, ajustar o acionamento das luzes como despertador e programar seu desligamento em horários específicos.
					h3
						span(style='font-weight: 400;') 2. Lâmpadas Wi-Fi
					p
						span(style='font-weight: 400;')
							| Algumas lâmpadas inteligentes possuem conexão Wi-Fi e são controladas por aplicativo. Você pode ajustar a intensidade e as cores da iluminação do ambiente de forma remota, sem necessidade de acionar interruptores.
					h3
						span(style='font-weight: 400;') 3. Sensores de presença para iluminação 
					p
						span(style='font-weight: 400;')
							| Os sensores acabam com as possibilidades de você esquecer alguma luz acesa ou ter dificuldades para ligá-la ao chegar a noite em casa. Ao detectar movimento o sensor aciona imediatamente a iluminação. Quando nada mais é detectado, as luzes se apagam.
					p
						span(style='font-weight: 400;')
							| Você pode programar o sensor para funcionar 24 horas por dia ou somente durante a noite. Há modelos para instalação na parede e no teto, para áreas externas e internas.
					h3
						span(style='font-weight: 400;') 4. Controlador de eletrodomésticos
					p
						img.size-full.wp-image-5419.img-responsive.aligncenter.img-responsive.img-responsive(src='https://blog.intelbras.com.br/wp-content/uploads/2021/02/4.png' alt='Controlador de eletrodomésticos' srcset='https://blog.intelbras.com.br/wp-content/uploads/2021/02/4.png 1200w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/4-300x157.png 300w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/4-768x402.png 768w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/4-1024x536.png 1024w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/4-600x314.png 600w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/4-328x172.png 328w' sizes='(max-width: 1200px) 100vw, 1200px')
					p
						span(style='font-weight: 400;')
							| Esse dispositivo permite o controle da iluminação e dos eletrodomésticos inteligentes da sua casa, como lâmpadas, ar-condicionado e computadores. Por meio do comando de voz ou aplicativo, você pode programar o acionamento e o desligamento desses aparelhos.
					h3
						span(style='font-weight: 400;') 5. Sistema de energia solar
					p
						img.size-full.wp-image-5420.img-responsive.aligncenter.img-responsive.img-responsive(src='https://blog.intelbras.com.br/wp-content/uploads/2021/02/3.png' alt='arquitetura sustentável ' srcset='https://blog.intelbras.com.br/wp-content/uploads/2021/02/3.png 1200w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/3-300x157.png 300w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/3-768x402.png 768w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/3-1024x536.png 1024w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/3-600x314.png 600w, https://blog.intelbras.com.br/wp-content/uploads/2021/02/3-328x172.png 328w' sizes='(max-width: 1200px) 100vw, 1200px')
					p
						span(style='font-weight: 400;')
							| Os geradores fotovoltaicos geram eletricidade a partir da energia do sol podendo ser conectados à rede da distribuidora ou isolados. Apresentam resistência às diversas condições climáticas e são de fácil manutenção. Estes têm conexão Wi-Fi e você pode acompanhar em tempo real indicadores do equipamento, como a energia gerada em diferentes momentos, por exemplo.
					p
						i
							span(style='font-weight: 400;') Leia também: 
						a(href='https://blog.intelbras.com.br/o-que-e-energia-solar-fotovoltaica/' target='_blank' rel='noopener')
							i
								span(style='font-weight: 400;') O que é energia solar fotovoltaica?
					h3
						span(style='font-weight: 400;') 6. Sistema de irrigação smart
					p
						span(style='font-weight: 400;')
							| Para acabar com o desperdício de água na irrigação de gramados e jardins, a solução é instalar sistemas de irrigação inteligente. Estes são administrados pelo morador que programa a irrigação automática com base nas condições climáticas.
					h3
						span(style='font-weight: 400;') 7. Chuveiro econômico 
					p
						span(style='font-weight: 400;')
							| O chuveiro econômico possui luzes LED com diferentes cores, que são acionadas com base no volume de água usado no banho. Se o vermelho surgir, sinal de gasto elevado. Mas você pode definir limites através de aplicativo e ainda conferir os números do consumo.
					p  
					h2
						span(style='font-weight: 400;') A tecnologia em prol da sustentabilidade
					p
						span(style='font-weight: 400;')
							| A arquitetura sustentável oferece uma variedade de soluções para reduzir nosso impacto ambiental e a tecnologia é uma grande aliada nesse processo. Ao mesmo tempo em que nos traz praticidade e segurança, oferece a oportunidade de minimizarmos o desperdício dos recursos naturais.
					p
						span(style='font-weight: 400;') Que tal começar a viver numa 
						a(href='https://www.intelbras.com/pt-br/casa-inteligente?utm_source=site&utm_medium=menu&utm_term=solucoes-casa-inteligente&utm_content=casa-inteligente')
							span(style='font-weight: 400;') casa inteligente
						span(style='font-weight: 400;')  e sustentável? Conheça os 
						a(href='https://www.intelbras.com/pt-br/energia')
							span(style='font-weight: 400;') produtos da Intelbras
						span(style='font-weight: 400;')  e desfrute do melhor!
					p
						span(style='font-weight: 400;')
							| Dúvidas? Deixe seu comentário abaixo! E para saber mais sobre tecnologias para residências, continue acompanhando
						a(href='http://blog.intelbras.com.br/')
							span(style='font-weight: 400;') nosso blog
						span(style='font-weight: 400;') !
					// Begin Yuzo
					.yuzo_related_post.style-1(data-version='5.12.74')
						// with result
						.yuzo_clearfixed.yuzo__title
							h3 Posts Relacionados
						.yuzo_wraps
							.relatedthumb.relatedpost-4579(style='width: 172.5px; float: left; overflow: hidden; height: 188px;')
								span.equalizer-inner(style='display:block;')
									a(href='https://blog.intelbras.com.br/como-fazer-reunioes-de-condominio-a-distancia/')
										.yuzo-img-wrap(style='/*width: 172.5px;height:120px;*/')
											.yuzo-img(style="background:url('https://blog.intelbras.com.br/wp-content/uploads/2020/06/EVC-3000-150x150.jpg') 50% 50% no-repeat;width: 172.5px;;max-width:100%;height:120px;margin-bottom: 5px;background-size: cover; ")
										span.yuzo__text--title(style='font-size:13px;') Como fazer reuniões de condomínio à distância
							.relatedthumb.relatedpost-858(style='width: 172.5px; float: left; overflow: hidden; height: 188px;')
								span.equalizer-inner(style='display:block;')
									a(href='https://blog.intelbras.com.br/roteador-bom-e-barato-wrn-150/')
										.yuzo-img-wrap(style='/*width: 172.5px;height:120px;*/')
											.yuzo-img(style="background:url('https://blog.intelbras.com.br/wp-content/uploads/2016/10/blog-intelbras-wrn150-150x150.gif') 50% 50% no-repeat;width: 172.5px;;max-width:100%;height:120px;margin-bottom: 5px;background-size: cover; ")
										span.yuzo__text--title(style='font-size:13px;') Procurando um roteador bom e barato? Conheça o WRN...
							.relatedthumb.relatedpost-1107(style='width: 172.5px; float: left; overflow: hidden; height: 188px;')
								span.equalizer-inner(style='display:block;')
									a(href='https://blog.intelbras.com.br/4-modelos-de-telefone-para-presentear/')
										.yuzo-img-wrap(style='/*width: 172.5px;height:120px;*/')
											.yuzo-img(style="background:url('https://blog.intelbras.com.br/wp-content/uploads/2017/03/ICON-4-modelos-de-telefone-para-surpreender-na-hora-de-presentear-150x150.png') 50% 50% no-repeat;width: 172.5px;;max-width:100%;height:120px;margin-bottom: 5px;background-size: cover; ")
										span.yuzo__text--title(style='font-size:13px;') 4 modelos de telefone para surpreender na hora de ...
							.relatedthumb.relatedpost-3094(style='width: 172.5px; float: left; overflow: hidden; height: 188px;')
								span.equalizer-inner(style='display:block;')
									a(href='https://blog.intelbras.com.br/dicas-de-telefone-para-idoso-conheca-aparelhos-especiais/')
										.yuzo-img-wrap(style='/*width: 172.5px;height:120px;*/')
											.yuzo-img(style="background:url('https://blog.intelbras.com.br/wp-content/uploads/2019/01/telefone-para-idoso-senhor-150x150.jpg') 50% 50% no-repeat;width: 172.5px;;max-width:100%;height:120px;margin-bottom: 5px;background-size: cover; ")
										span.yuzo__text--title(style='font-size:13px;') Dicas de telefone para idoso: conheça aparelhos es...
			.col-lg-1
			.col-lg-3
				include ../_layouts/blog-aside