.solution-small-banner
	.small-banner__img(style="background-image: url(/images/banners/small-1.jpg);")
	.small-banner__caption
		h3.fs-32.fw-300 The most advanced video and sound technology with embedded artificial intelligence