header.header__1
    .header__backdrop
    .pageContainer
        .container
            .header__top.d-flex.justify-content-end.align-items-center
                ul.header__helper-extra-menu.mx-2.pl-2.d-flex
                    li.mx-1
                        a(href="blog-start.html") Blog
                    li.mx-1
                        a(href="partners.html") Partners
                .header__language.dropdown
                    .header__language-active.dropdown__label
                        +svg('./images/language1.svg')
                        span.text.mx-1 EN 
                        span.fal.fa-chevron-down
                    .header__language-list.dropdown__list 
                        .header__language-item 
                            a(href="#") 
                                +svg('./images/language1.svg')
                                span.text English 
                        .header__language-item 
                            a(href="#")
                                +svg('./images/language2.svg')
                                span.text VietNam
            .header__logo 
                a(href="/") 
                    +svg('./images/logo.svg')
            .header__main.d-flex.justify-content-between
                .header__main-menu
                    button(type="button").toggle-mobile-btn
                        span.icon-open
                            +svg('./images/open.svg')
                        span.icon-close
                            +svg('./images/close1.svg')
                        span.text.fs-14.fw-200.ml-1 menu
                    .toggle__menu-wrap    
                        ul.d-flex
                            li.has-mega
                                a(href="javascript:void(0);") Products and Solutions 
                                    span.fal.fa-chevron-down
                                .mega__wrap.mega__1
                                    .container
                                        p.mega__back-link
                                            span.fal.fa-chevron-left 
                                            span.text.fs-14.fw-200.ml-1 Menu Principal
                                        .row.no-gutters.mega__row
                                            .col-md-3.mega__left
                                                .mega__extra-menu
                                                    h2.fs-20.fw-500.mb-1 Navigate through products
                                                    ul.fs-14.fw-200
                                                        li 
                                                            a(href="product-categories.html" mega-target="mega-1") Electronic safety
                                                        li 
                                                            a(href="product-categories.html" mega-target="mega-2") Networks
                                                        li 
                                                            a(href="product-categories.html" mega-target="mega-3") Communication
                                                        li 
                                                            a(href="product-categories.html" mega-target="mega-4") Energy
                                                .mega__extra-menu
                                                    h2.fs-20.fw-500.mb-1 Find Solutions
                                                    ul.fs-14.fw-200
                                                        li
                                                            a(href="solution-1.html"  mega-target="mega-5")  Corporate Solutions
                                                        li
                                                            a(href="solution-2.html"  mega-target="mega-6")  Homing Solutions
                                                        li
                                                            a(href="solution-3.html"  mega-target="mega-7")  Enegry Solutions
                                            .col-md-9.bg-gray.mega__right.mega__product
                                                .row 
                                                    .col-lg-8 
                                                        p.img 
                                                            img.fullsize(src="https://www.intelbras.com/assets/images/header/3-590x300.jpg", alt="")
                                                        p.text.mt-2 Intelbras offers the products you need and complete solutions for your needs.
                                                    .col-lg-4 
                                                        .product
                                                            a.product__url.fullsize(href="product-detail-categories.html")
                                                                .product__caption
                                                                    h4.cardTitle.product__title.mt-1.fs-18 Launching
                                                                        span.fal.fa-chevron-right.ml-1
                                                                .product__img2
                                                                    img.lazyload.blur-up(data-src="/images/ap_360.png")
                                                .mega__listProduct(mega-menu="mega-1")
                                                    .mega__listProductWrapper
                                                        p.mega__back-link
                                                            span.fal.fa-chevron-left
                                                            span.text.fs-14.fw-200.ml-1 Electronic safety
                                                        .row
                                                            -for(let i = 0; i < 15; i++)
                                                                .mega__itemProduct 
                                                                    a.mega__itemProductLink(href="#") 
                                                                        .mega__itemProductImg 
                                                                            img(src="https://backend.intelbras.com/sites/default/files/styles/medium/public/integration/xbp_400_hd_persp_esq.png", alt="") 
                                                                        .mega__itemProductText 
                                                                            span Cooperate Wi-Fi
                                                .mega__listProduct(mega-menu="mega-2")
                                                    .mega__listProductWrapper
                                                        p.mega__back-link
                                                            span.fal.fa-chevron-left
                                                            span.text.fs-14.fw-200.ml-1 Networks
                                                        .row
                                                            -for(let i = 0; i < 15; i++)
                                                                .mega__itemProduct 
                                                                    a.mega__itemProductLink(href="#") 
                                                                        .mega__itemProductImg 
                                                                            img(src="https://backend.intelbras.com/sites/default/files/styles/medium/public/integration/xbp_400_hd_persp_esq.png", alt="") 
                                                                        .mega__itemProductText 
                                                                            span Cooperate Wi-Fi
                                                .mega__listProduct(mega-menu="mega-3")
                                                    .mega__listProductWrapper
                                                        p.mega__back-link
                                                            span.fal.fa-chevron-left
                                                            span.text.fs-14.fw-200.ml-1 Communication
                                                        .row
                                                            -for(let i = 0; i < 15; i++)
                                                                .mega__itemProduct 
                                                                    a.mega__itemProductLink(href="#") 
                                                                        .mega__itemProductImg 
                                                                            img(src="https://backend.intelbras.com/sites/default/files/styles/medium/public/integration/xbp_400_hd_persp_esq.png", alt="") 
                                                                        .mega__itemProductText 
                                                                            span Cooperate Wi-Fi
                                                .mega__listProduct(mega-menu="mega-4")
                                                    .mega__listProductWrapper
                                                        p.mega__back-link
                                                            span.fal.fa-chevron-left
                                                            span.text.fs-14.fw-200.ml-1 Energy
                                                        .row
                                                            -for(let i = 0; i < 15; i++)
                                                                .mega__itemProduct 
                                                                    a.mega__itemProductLink(href="#") 
                                                                        .mega__itemProductImg 
                                                                            img(src="https://backend.intelbras.com/sites/default/files/styles/medium/public/integration/xbp_400_hd_persp_esq.png", alt="") 
                                                                        .mega__itemProductText 
                                                                            span Cooperate Wi-Fi
                                                .mega__listProduct(mega-menu="mega-5")
                                                    .mega__listProductWrapper
                                                        p.mega__back-link
                                                            span.fal.fa-chevron-left
                                                            span.text.fs-14.fw-200.ml-1 Corporate Solutions
                                                        .row
                                                            .mega__itemSolution
                                                                a.mega__itemProductLink(href="#") 
                                                                    .mega__itemProductImg 
                                                                        img(src="https://backend.intelbras.com/sites/default/files/2019-02/intelbras_empresarial-banner_590x360_0.jpg", alt="") 
                                                                    .mega__itemProductText 
                                                                        span Cooperate Solutions
                                                                    .mega__itemProductSubText
                                                                        span Checkout our solutions
                                                                        span.fal.fa-chevron-right 
                                                .mega__listProduct(mega-menu="mega-6")
                                                    .mega__listProductWrapper
                                                        p.mega__back-link
                                                            span.fal.fa-chevron-left
                                                            span.text.fs-14.fw-200.ml-1 Homing Solutions
                                                        .row
                                                            .mega__itemSolution
                                                                a.mega__itemProductLink(href="#") 
                                                                    .mega__itemProductImg 
                                                                        img(src="https://backend.intelbras.com/sites/default/files/2019-02/intelbras_empresarial-banner_590x360_0.jpg", alt="") 
                                                                    .mega__itemProductText 
                                                                        span Homing Wi-Fi
                                                                    .mega__itemProductSubText
                                                                        span Checkout our solutions
                                                                        span.fal.fa-chevron-right 
                                                .mega__listProduct(mega-menu="mega-7")
                                                    .mega__listProductWrapper
                                                        p.mega__back-link
                                                            span.fal.fa-chevron-left
                                                            span.text.fs-14.fw-200.ml-1 Others Solutions
                                                        .row
                                                            .mega__itemSolution
                                                                a.mega__itemProductLink(href="#") 
                                                                    .mega__itemProductImg 
                                                                        img(src="https://backend.intelbras.com/sites/default/files/2019-02/intelbras_empresarial-banner_590x360_0.jpg", alt="") 
                                                                    .mega__itemProductText 
                                                                        span Others
                                                                    .mega__itemProductSubText
                                                                        span Checkout our solutions
                                                                        span.fal.fa-chevron-right 
                            
                            li
                                a(href="where-to-find-form-filter.html") Where to find
                                
                            li.has-mega
                                a(href="#") Support
                                    span.fal.fa-chevron-down
                                .mega__wrap.mega__2
                                    .container
                                        p.mega__back-link
                                            span.fal.fa-chevron-left 
                                            span.text.fs-14.fw-200.ml-1 Menu Principal
                                        .row.no-gutters.mega__row
                                            .col-lg-7.mega__left 
                                                .row 
                                                    .col-lg-6
                                                        .mega__2-item
                                                            a(href="support-form-filter.html") 
                                                                .img.fullsize.product
                                                                    img(src="https://www.intelbras.com/assets/images/header/6-590x300.jpg", alt="")
                                                                .text.mt-1.fs-22 Help and Download 
                                                                    span.fal.fa-chevron-right.ml-1
                                                    .col-lg-6
                                                        .mega__2-item
                                                            a(href="support-form-filter-technical.html") 
                                                                .img.fullsize.product
                                                                    img(src="https://www.intelbras.com/assets/images/header/4-590x300.jpg", alt="")
                                                                .text.mt-1.fs-22 Technical Assistance
                                                                    span.fal.fa-chevron-right.ml-1
                                                .text_bottom.mt-4
                                                    h3.fs-24.fw-300.mb-1 Are there still questions?
                                                    p Learn about all our support options.
                                                    a(href="support-form-filter.html").fs-14.fw-500 Support 
                                                        span.fal.fa-chevron-right.ml-1 
                                            .col-lg-5.mega__right.bg-gray
                                                .row
                                                    .col-lg-10
                                                        .mega__2-item
                                                            a(href="institutional-events.html") 
                                                                .img.fullsize.product
                                                                    img(src="https://www.intelbras.com/assets/images/header/2-590x300.jpg", alt="")
                                                                .text.mt-1.fs-22 Check our our training events
                                                                    span.fal.fa-external-link-alt.ml-1
                            li.has-mega
                                a(href="#") Contact
                                    span.fal.fa-chevron-down
                                .mega__wrap.mega__3 
                                    .container 
                                        p.mega__back-link
                                            span.fal.fa-chevron-left 
                                            span.text.fs-14.fw-200.ml-1 Menu Principal
                                        .row.no-gutters.mega__row 
                                            .col-lg-7.mega__left 
                                                .row 
                                                    .col-lg-6.mb-2
                                                        h3.fs-22.fw-300.mb-2 Online Services
                                                        a.mega__service.d-flex.align-items-center.fs-14(href="contact-us.html")
                                                            +svg('./images/contact-us.svg')
                                                            span.text Contact Us
                                                            span.fal.fa-chevron-right
                                                    .col-lg-6.mb-2
                                                        h3.fs-22.fw-300.mb-2 Phone Services 
                                                        a.mega__service.d-flex.align-items-center.fs-14(href="call-center.html")
                                                            +svg('./images/call-center.svg')
                                                            span.text Call Center
                                                            span.fal.fa-chevron-right
                                                        a.mega__service.d-flex.align-items-center.fs-14(href="technical-support.html")
                                                            +svg('./images/technical-support.svg')
                                                            span.text Technical Support  
                                                            span.fal.fa-chevron-right
                                            .col-lg-5.mega__right.bg-gray
                                                .row 
                                                    .col-lg-8
                                                        ul.fs-14.fw-500
                                                            li 
                                                                a(href="institutional-sustainability.html") Product Discard
                                                                    span.fal.fa-chevron-right.ml-1

                            li.has-mega
                                a(href="#") About Us
                                    span.fal.fa-chevron-down
                                .mega__wrap.mega__4 
                                    .container 
                                        p.mega__back-link
                                            span.fal.fa-chevron-left 
                                            span.text.fs-14.fw-200.ml-1 Menu Principal
                                        .row.no-gutters.mega__row 
                                            .col-lg-7.mega__left 
                                                .row 
                                                    .col-lg-4 
                                                        .mega__extra-menu
                                                            h2.fs-20.fw-500.mb-1 Institutional
                                                            ul.fs-14.fw-200
                                                                li 
                                                                    a(href="institutional-who-we-are.html") Who we are
                                                                li 
                                                                    a(href="institutional-where-we-are.html") Where we are
                                                                li 
                                                                    a(href="institutional-awards.html") Awards
                                                                li 
                                                                    a(href="institutional-sustainability.html") Sustainability
                                                                li 
                                                                    a(href="institutional-events.html") Eventos
                                                    .col-lg-4 
                                                        .mega__extra-menu
                                                            h2.fs-20.fw-500.mb-1 Career
                                                            ul.fs-14.fw-200
                                                                li 
                                                                    a(href="career-work-with-us.html") Work with us
                                                    .col-lg-4 
                                                        .mega__extra-menu
                                                            h2.fs-20.fw-500.mb-1 Press
                                                            ul.fs-14.fw-200
                                                                li 
                                                                    a(href="career-visit.html") Visit Vivaio
                                            .col-lg-5.mega__right.bg-gray
                                                h2.fs-20.fw-500.mb-2 News 
                                                .mega__newsSlide
                                                    .swiper-container
                                                        .swiper-wrapper 
                                                            .swiper-slide.product
                                                                a(href="#").mega__newsLink.product__url 
                                                                    .mega__newsTitle.fw-500 Insticional 
                                                                    .mega__newsDesc Dia do Consumidor: nova década, nova consciência  dos clientes
                                                                        i.fal.fa-chevron-right
                                                            .swiper-slide.product
                                                                a(href="#").mega__newsLink.product__url 
                                                                    .mega__newsTitle.fw-500 Insticional 
                                                                    .mega__newsDesc Dia do Consumidor: nova década, nova consciência  dos clientes
                                                                        i.fal.fa-chevron-right
                                                            .swiper-slide.product
                                                                a(href="#").mega__newsLink.product__url 
                                                                    .mega__newsTitle.fw-500 Insticional 
                                                                    .mega__newsDesc Dia do Consumidor: nova década, nova consciência  dos clientes
                                                                        i.fal.fa-chevron-right
                                                            .swiper-slide.product
                                                                a(href="#").mega__newsLink.product__url 
                                                                    .mega__newsTitle.fw-500 Insticional 
                                                                    .mega__newsDesc Dia do Consumidor: nova década, nova consciência  dos clientes
                                                                        i.fal.fa-chevron-right
                                                    .swiper-navigation 
                                                        .swiper-prev 
                                                            i.fal.fa-chevron-left 
                                                        .swiper-next 
                                                            i.fal.fa-chevron-right
                                                    .swiper-pagination
                                                .mega__newsViewMore 
                                                    a(href="#") View more 
                                                        i.fal.fa-chevron-right 
                                                            
                            li
                                a(href="#") Intelbras Stores 
                        ul.header__helper-extra-menu
                            li
                                a(href="#") Investors
                            li
                                a(href="#") Training events 
                        .header__language.dropdown
                            .header__language-active.dropdown__label
                                +svg('./images/language1.svg')
                                span.text.mx-1 EN 
                                span.fal.fa-chevron-down
                            .header__language-list.dropdown__list 
                                .header__language-item 
                                    a(href="#") 
                                        +svg('./images/language1.svg')
                                        span.text English 
                                .header__language-item 
                                    a(href="#")
                                        +svg('./images/language2.svg')
                                        span.text VietNam
            
                form.header__search
                    input(type="text" placeholder="Do your search")
                    span.text Do your search
                    .search-input-icon 
                        span.fal.fa-search
                    .search-input-close 
                        span.fal.fa-times