script(src="./js/core.min.js")
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
script(src="./js/main.min.js")

<!-- inject:js -->
<!-- endinject -->